{% if site.asides.about        %}{% include asides/about.html          %}{% endif %}
{% if site.asides.search       %}{% include asides/search.html         %}{% endif %}
{% comment %} {% if site.asides.themes       %}{% include asides/themes.html         %}{% endif %} {% endcomment %}
{% if site.asides.archive_tabs %}{% include asides/archive_tabs.html   %}{% endif %}
{% if site.asides.recent_posts %}{% include asides/recent_posts.html   %}{% endif %}
{% comment %} {% if site.asides.github       %}{% include asides/github.html         %}{% endif %} {% endcomment %}
{% comment %} {% if site.asides.tweets       %}{% include asides/tweets.html         %}{% endif %} {% endcomment %}
{% comment %} {% if site.twitter.widget_id   %}{% include asides/twitter_widget.html %}{% endif %} {% endcomment %}
