<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/{{ site.jquery_ver }}/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/libs/jquery-{{ site.jquery_ver }}.min.js"><\/script>')</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Google adsense -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-1263927634740563"
     data-ad-slot="3087812331"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- Toolbox-index -->
{% if site.asides.themes %}
<script src="{{ site.baseurl }}/assets/js/libs/jquery.cookie.js"></script>
<script>
/*
 * Apply specified stylesheet through cookie
 */
function chgtheme(type) {
	$.cookie('theme', type, {
		expires: 3,
		path: '{{ site.baseurl }}/'
	});
	$('#bootstrap-theme').attr({ href: type });
}

(function() {
	var type = $.cookie('theme');
	if (type) {
		$('#theme-select').val(type);
		$("#bootstrap-theme").attr({ href: type });
	}
})();

$(function() {
	$('#theme-select').change(function() {
		chgtheme($(this).val());
	});
	var type = $.cookie('theme');
	if (type) {
		$('#theme-select').val(type);
	}
});
</script>
{% endif %}
